.main {
  text-align: center;
  height: 500px;
}

.modal {
  width: 300px;
  height: 350px;
  background-color: coral;
  color: green;
  text-align: center;
  font-size: large;
  font-style: unset;
  border-radius: 4%;
}

.timebar {
  width: 250px;
  height: 25px;
}

.progress {
  height: 25px;
  background-color: green;
}

.content {
  background-color: wheat;
  height: 60%;
}

.progress.finished {
  background-color: red;
}